<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmeo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdicionarFilmeActivity"
                  android:label="@string/label_adicionar_filme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.filmeo.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.GerenciaGenerosActivity" />
        <activity android:name=".activity.ListaDiretoresActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.filmeo.activity.AdicionarFilmeActivity" />
        </activity>
        <activity android:name=".activity.AdicionarDiretorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.filmeo.activity.ListaDiretoresActivity" />
        </activity>
        <activity android:name=".activity.EditaDiretorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.filmeo.activity.ListaDiretoresActivity" />
        </activity>
        <activity android:name=".activity.SobreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.filmeo.activity.MainActivity" />
        </activity>

    </application>

</manifest>